<app-main-menu></app-main-menu>
<div class="bg-black pr-[15%] max-mobile:pr-[5%] pl-[15%] max-mobile:pl-[5%]">
    <h1 class="text-[3.5vw] max-mobile:text-[7vw] pt-[6vw] pb-[3vw] font-[posterama-semibold] text-center text-[var(--orange-primary)] max-mobile:pt-[23vw]">SOBRE NOSOTROS</h1>
    <div class="flex items-center justify-center  pb-[1vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
    <div class="atletas-container">
        <div class="atletas-1">
            <h1 class="left-border-title text-[2.5vw] max-mobile:text-[4.5vw] font-[posterama-semibold] text-white mt-[3vw] mb-[3vw]">ATLETAS
            </h1>
            <div class="flex items-center justify-center">
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
                <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
            </div>
            <p class="pt-[6vw] pb-[3vw] text-[1.2vw] max-mobile:text-[3.5vw] text-white font-[posterama-regular]">
                LES AYUDAMOS A CONSTRUIR SU MARCA PERSONAL DE MANERA PROFESIONAL, MANEJAR ADECUADAMENTE SUS REDES
                SOCIALES Y CONSEGUIR PATROCINADORES.
            </p>
        </div>
        <div class="atletas-2 flex justify-end">
            <div class="video-container h-[33vw] max-mobile:h-[128vw] w-[80%] max-mobile:w-[100%] rounded-[0.5rem] overflow-hidden">
                <video src="/assets/videos/Atletas.webm" autoplay muted loop class="h-full w-full object-cover"></video>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center  pb-[1vw] pt-[1vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
    <div class="atletas-container-reverse">
        <div class="atletas-1">
            <h1
                class="left-border-title text-[2.5vw] max-mobile:text-[4.5vw] font-[posterama-semibold] text-white mt-[3vw] mb-[3vw] ml-[75%]">
                MARCAS</h1>
            <div class="flex items-center justify-center">
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
                <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
            </div>
            <p class="pt-[6vw] pb-[3vw] text-[1.2vw] max-mobile:text-[3.5vw] text-end text-white font-[posterama-regular]">
                CONECTAMOS LAS MARCAS CON DEPORTISTAS Y EVENTOS. SOMOS ESPECIALISTAS EN GENERAR
                HISTORIAS Y CONSTRUIR EXPERIENCIAS VINCULANDO LAS MARCAS CON LOS DEPORTISTAS, EL DEPORTE Y LOS
                VALORES QUE APORTAN A LA SOCIEDAD.
            </p>
        </div>
        <div class="atletas-2 flex justify-start">
            <div class="video-container h-[33vw] max-mobile:h-[128vw] w-[80%] max-mobile:w-[100%] rounded-[0.5rem] overflow-hidden">
                <video src="/assets/videos/Marcas.webm" autoplay muted loop class="h-full w-full object-cover"></video>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center  pb-[1vw] pt-[1vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
    <div class="atletas-container">
        <div class="atletas-1">
            <h1 class="left-border-title text-[2.5vw] max-mobile:text-[4.5vw] font-[posterama-semibold] text-white mt-[3vw] mb-[3vw]">CLUBES
                DEPORTIVOS</h1>
            <div class="flex items-center justify-center">
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
                <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
                <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
            </div>
            <p class="pt-[6vw] pb-[3vw] text-[1.2vw] max-mobile:text-[3.5vw] text-white font-[posterama-regular]">
                APROVECHAMOS LAS VENTAJAS DEL MARKETING EXPERIENCIAL PARA
                POSICIONAR SU CLUB. GENERAMOS CONTENIDO DE INTERÉS, AUMENTANDO EL ENGAGEMENT, EN SU PUBLICO
                OBJETIVO MEJORANDO LAS RELACIONES ENTRE SUS PATROCINADORES Y LOS MEDIOS.
            </p>
        </div>
        <div class="atletas-2 flex justify-end">
            <div class="video-container h-[33vw] max-mobile:h-[128vw] w-[80%] max-mobile:w-[100%] rounded-[0.5rem] overflow-hidden">
                <video src="/assets/videos/Clubes.webm" autoplay muted loop class="h-full w-full object-cover"></video>
            </div>
        </div>
    </div>
    <div class="flex items-center justify-center  pb-[1vw] pt-[3vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
</div>
<app-scrolling></app-scrolling>
<app-footer></app-footer>