<app-main-menu></app-main-menu>
<div class="min-h-[100vh] bg-black pr-[15%] pl-[15%]">
    <h1 id="podcastsTitle"
        class="text-[3.5vw] pt-[6vw] pb-[3vw] font-[posterama-semibold] text-center text-[var(--orange-primary)] max-mobile:text-[7vw]">
        PODCASTS
    </h1>
    <div class="flex items-center justify-center pb-[3vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>

    <!-- Spotify Player -->
    <div class="spotify-container bg-black">
        <iframe [src]="getSafeUrl()" style="border-radius:12px; width: 100%; height: 500px;" frameborder="0"
            allowfullscreen allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
            loading="lazy">
        </iframe>
    </div>

    <div class="flex items-center justify-center pt-[3vw] pb-[3vw]">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[100%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
</div>
<app-scrolling></app-scrolling>
<app-footer></app-footer>