<app-main-menu></app-main-menu>
<div class="h-[70vh] flex justify-center people-bg bg-[#f1ede2]">
    <!-- <img class="h-[100%]" src="/assets/img/hombre.png" alt=""> -->
</div>
<div class="h-[30vh] bg-black">
    <h1 class="pt-[1vw] text-center text-[3vw] text-[var(--orange-primary)] font-[posterama-semibold]  max-mobile:text-[8vw] max-mobile:pt-[8vw]">YESID TRUJILLO SILVA</h1>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">FOUNDER & DIRECTOR ESTRATEGICO DE ORANGE
    </h2>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">35 AÑOS</h2>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">MERCADOLOGO</h2>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">MAGÍSTER EN COMUNICACIÓN GESTIÓN DEPORTIVA
    </h2>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">BOGOTÁ, COLOMBIA</h2>
    <h2 class="text-center text-[0.8vw] text-white font-[posterama-regular] max-mobile:text-[3.5vw]">CASADO, 1 HIJA</h2>
</div>
<div class=" bg-black">
    <div class="flex items-center justify-center">
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
        <hr size="1px" style="color: var(--orange-primary);" class="w-[80%]" />
        <div class="w-[2px] h-[10px] bg-[var(--orange-primary)]"></div>
    </div>
    <h2 class="mt-[2vw] h-[48vh] max-mobile:h-[36vh] mr-[10%] ml-[10%] text-center text-[3.5vw] max-mobile:text-[6.5vw] text-white font-[posterama-semibold]">
        <span #typewriter></span>
    </h2>
    <div class="mr-[10%] ml-[10%] pt-[2vw] pb-[2vw] mt-[2vw] mb-[2vw] bg-[#ff9200] rounded-xl">
        <h1 class="text-[3.5vw] max-mobile:text-[6.5vw] font-[posterama-semibold] text-center text-[#616a6f]">SOBRE NOSOTROS</h1>
        <h1 class="text-[2.5vw] max-mobile:text-[4.5vw] font-[posterama-semibold] text-center text-white">SOMOS UNA AGENCIA CONSULTORÍA DEPORTIVA, ESPECIALIZADA EN
            GESTIÓN DEPORTIVA Y MARKETING DEPORTIVO, PARA ATLETAS, MARCAS Y
            CLUBES DEPORTIVOS.</h1>
    </div>
    <br>
</div>
<app-scrolling></app-scrolling>
<app-footer></app-footer>
